{% extends 'base.html' %}
{% load static %}
{% block content %}
 
<div class="mx-auto" style="width: 400px";>
<img class="img-responsive" style="margin-top:30px;width:30%;height:30%;position:relative;right:-35%;" src="{% static 'img/logo.png' %}" alt="Logo"/>

　<div>
    {% if form.non_field_errors or form.errors.username or form.errors.password %}
    <div class="alert alert-danger" role="alert" style="height:100px;">
            {{ form.non_field_errors }}
            {{ form.errors.username }}
            {{ form.errors.password }}
    </div>
    {% else %}
    <div style="height:100px;"></div>
    {% endif %}

    <form class="form-horizontal" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label class="">{{form.username.label}}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label>{{form.password.label}}</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12"><button class="btn btn-lg btn-raised btn-default btn-block" type="submit">Login</button></div>
                <div class="col-sm-12"><button id="new-btn" class="btn btn-lg btn-raised btn-default btn-block" type="button">SignUp</button></div>
            </div>
        </div>
    </form>
  </div>
  <div></div>
</div>
  <script>
      $('#new-btn').on('click',function(e){
        location.href = "{%url 'new' %}"
      })
  </script>
{% endblock %}