{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-sm-2">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="true">Statistics</a>
					<a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">パスワード変更</a>
					<a class="nav-link" href="{% url 'index' %}">back</a>
			</div>
	</div>
	<div class="col-sm-10">
			<div class="tab-content" id="v-pills-tabContent">
				<!--  statistic tab-->
				<div class="tab-pane fade show active" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">
					<div class="row">
						<div class="col-sm-6">
								<button class="btn btn-lg btn-default btn-raised btn-block text-center" disabled>直近30日のLevel1入力割合</button>
								<canvas id="level1Chart"></canvas>
						</div>
						<div class="col-sm-6">
								<button class="btn btn-lg btn-default btn-raised btn-block text-center" disabled>直近30日のLevel2入力割合</button>
								<canvas id="level2Chart"></canvas>
						</div>
						<div class="col-sm-6">
								<button class="btn btn-lg btn-default btn-raised btn-block text-center" disabled>直近30日のLevel3入力割合</button>
								<canvas id="level3Chart"></canvas>
						</div>
					</div>
				</div>
				<!-- change password tab -->
				<div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
						<br><br>
						<div class="mx-auto" style="size.width: 400px";>
								{% if form.non_field_errors or form.errors.username or form.errors.password1 or form.errors.password2 %}
								<div class="alert alert-danger" role="alert" style="size.height:100px;">
										{{ form.non_field_errors }}
										{{ form.errors.old_password }}
										{{ form.errors.new_password1 }}
										{{ form.errors.new_password2 }}
								</div>
								{% else %}
								<div style="size.height:100px;"></div>
								{% endif %}
								<form id="password-form" method="post">
										{% csrf_token %}
										<div class="form-group">
												<label>{{form.old_password.label}}</label>
												{{ form.old_password }}
										</div>
										<div class="form-group">
												<label>{{form.new_password1.label}}</label>
												{{ form.new_password1 }}
										</div>
										<div class="form-group">
												<label>{{form.new_password2.label}}</label>
												{{ form.new_password2 }}
										</div>
										<input id="submit-btn" class="btn btn-lg btn-raised btn-primary btn-block" type="button" value="Update">
								</form>
							</div>
				</div>

			</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
	$('#submit-btn').on('click',function(e) {

    var $form = $('#password-form');
		var data = $form.serialize()
		data['csrfmiddlewaretoken'] = '{{ csrf_token }}'
		$.ajax({
      url:"{% url 'profile' %}",
      type:'POST',
      data: data
		}).done(function(res){
			if(res['result'] == true){
				toastr.info(res['msg'])
			} else {
				for(key in res){
					toastr.error(res[key])
				}
			}
		})
	})
</script>
<script>
function drawCircle(element,data){
	var ctx = document.getElementById(element);
	ctx.height = 280
	var label_list = []
	var count_list = []
	for (let dt of data){ label_list.push(dt.title)}
	for (let dt of data){ count_list.push(dt.count)}
	var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: label_list,
        datasets: [{
            label: '直近30日 Level1比率',
            data: count_list,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
        }]
    },
});
}

$(function(){
	$.ajax({
    url:"{% url 'fetch_statistics' %}",
    type:'GET',
	}).done(function(res){
		drawCircle('level1Chart',res.level1)
		drawCircle('level2Chart',res.level2)
		drawCircle('level3Chart',res.level3)
	})
})

</script>

{% endblock %}