{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>
<form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.errors.username }}
        {{ form.username }}
        {{ form.errors.password1 }}
        {{ form.password1 }}
        {{ form.errors.password2 }}
        {{ form.password2 }}
        {{ form.errors.email }}
        {{ form.email }}
        <input class="btn btn-lg btn-primary" type="submit" value="Create">
</form>

{% endblock %}